<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<!--Строки подключения к БД, здесь мы можем написать несколько строк, 
	но т.к. подключаемся к одной БД, то нам это не нужно-->
	<connectionStrings>
		<add  name="Lab10.Properties.Settings.ShopConnectionString"
		    connectionString="Server=DESKTOP-FAOMLAU;
		    Database=Shop;
		    Trusted_Connection=True;"/>
 </connectionStrings>
</configuration>